body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header, main, footer {
    padding: 20px;
    
  }
header {
    background-color: #000075;
    color: #CCC7D2;
    text-align: center;
  }
.cancel-ticket-panel {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
    margin: 50px auto;
    padding: 20px;
    width: 400px;
  }
  
  .cancel-ticket-panel h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .cancel-ticket-panel form {
    display: flex;
    flex-direction: column;
  }
  
  .cancel-ticket-panel label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .cancel-ticket-panel input[type="text"],
  .cancel-ticket-panel input[type="email"] {
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .cancel-ticket-panel button[type="submit"] {
    background-color: #ff9d00;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.2s ease;
  }
  
  .cancel-ticket-panel button[type="submit"]:hover {
    background-color: #005ea3;
  }

  footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: #000075;
    color: #CCC7D2;
    text-align: center;
  }

  a {
    color: white;
    text-decoration: none;
  }